* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: "Brandon Grotesque Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Regular Italic"), url("fonts/brandon-grotesque-regular-italic.woff") format("woff");
}
@font-face {
  font-family: "Brandon Grotesque Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Thin Italic"), url("fonts/brandon-grotesque-thin-italic.woff") format("woff");
}
@font-face {
  font-family: "Brandon Grotesque Light";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Light"), url("fonts/brandon-grotesque-light.woff") format("woff");
}
@font-face {
  font-family: "Brandon Grotesque Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Light Italic"), url("fonts/brandon-grotesque-light-italic.woff") format("woff");
}
@font-face {
  font-family: "Brandon Grotesque Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Medium Italic"), url("fonts/brandon-grotesque-medium-italic.woff") format("woff");
}
@font-face {
  font-family: "Brandon Grotesque Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Bold Italic"), url("fonts/brandon-grotesque-bold-italic.woff") format("woff");
}
@font-face {
  font-family: "Brandon Grotesque Black";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Black"), url("fonts/brandon-grotesque-black.woff") format("woff");
}
body {
  height: 100vh;
  cursor: url("cursor-white.png"), auto;
  font-family: "Cormorant", serif;
}

.background-grid {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url("background-color.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 15px solid #28344b;
  transition: 1s all cubic-bezier(0, -0.1, 0.2, 1.4);
  clip-path: circle(60px at -100px -100px);
  -webkit-clip-path: circle(60px at -100px -100px);
  z-index: 1050;
  box-sizing: border-box;
}

main {
  position: fixed;
  background: url("background-color.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border: 15px solid #28344b;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "ryaz";
  z-index: 1000;
}

.fixed-logo-top, .logo .wide, .logo .long {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1400;
}

.fixed-logo-bottom, .logo .dot {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1400;
}

.logo .long {
  width: 50px;
  height: 150px;
}
.logo .wide {
  width: 100px;
  height: 50px;
  left: 50px;
}
.logo .dot {
  width: 50px;
  height: 50px;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(0, 12, 25, 0.9);
  border: 15px solid transparent;
  color: white;
}
.content .card {
  position: relative;
  min-height: 100px;
  max-width: 370px;
  z-index: 1300;
  padding: 50px;
  border-radius: 5px;
  transition: 1s all ease;
}
.content .card svg {
  display: block;
  position: relative;
  z-index: 1300;
  fill: white;
  width: 250px;
  margin: auto;
  margin-bottom: 12px;
}

p {
  font-family: "Brandon Grotesque Light", sans-serif;
  font-weight: 100;
  line-height: 1.5;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.input-cover {
  position: relative;
  z-index: 1300;
}

input {
  position: static;
  display: block;
  width: 100%;
  height: 48px;
  font-size: 19px;
  border: 1px solid #f39c12;
  font-family: "Brandon Grotesque Light", sans-serif;
  font-weight: lighter;
  background: transparent;
  border-radius: 100px;
  text-align: center;
  color: #f39c12;
  margin-bottom: 12px;
  padding-right: 48px;
  z-index: 1300;
}

.input-cover button {
  cursor: pointer;
  height: 48px;
  width: 48px;
  position: absolute;
  right: 0;
  top: 0;
  background: #f39c12;
  border: 1px solid #f39c12;
  border-radius: 100px;
  transition: 0.3s all ease;
}
.input-cover button:hover {
  background: #000c19;
  color: white;
}

.tagline {
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 20px 20px rgba(0, 12, 25, 0.9);
}

.intro {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: fixed;
  bottom: 24px;
  font-size: 14px;
  min-width: 300px;
  width: 100%;
  left: 0;
  text-align: center;
}

.formality {
  display: block;
  font-size: 14px;
  text-transform: initial;
  margin-top: 12px;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
